@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@400;700&display=swap');

@font-face {
    font-family: "Ubuntu", "Stardos Stencil";
    src: url(@fonts/ubuntu-regular.woff) format("woff"),
         url(@fonts/ubuntu-regular.woff2) format("woff2"),
         url(@fonts/StardosStencil-Regular.ttf) format("ttf");
    font-weight: 400;
    font-style: normal;
}

:root {
    --black: #353535;
    --white: #FFFFFF;
    --grey: #D2D7DF;
    --light-brown: #BDBBB0;
    --dark-brown: #8A897C;
    --title: 2rem;
    --text: 1.4rem;
    --background1: #9ED5C5;
    --background2: #527880;
    --background3: #CA492F;
    --background4: #BE2E2A;
    --background5: #335466;
    --background6: #011552;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Stardos Stencil';
    font-size: 62.5%; /* 1rem: 10px*/
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

/* 
1. position
2. box model
3. typography
4. visual
5. ohter
 */

 /* 1 */
 .header__title,
 .title,
 .menu,
 .navList,
 .introduction,
 .introduction__list,
 .introduction__section,
 .components  {
    display: flex;
 }

 .header__title,
 .title,
 .menu,
 .introduction__section {
    flex-flow: row wrap;
 }

.navList,
.introduction,
.introduction__list  {
    flex-flow: column;
}

 .header__title {
    justify-content: space-between;
 }

 .title,
 .navList,
 .components {
    justify-content: center;
 }

 .header__title,
 .title,
 .menu {
    align-content: center;
 }

 .navList {
    align-items: center;
 }

.element {
    justify-content: space-evenly;
 }

 .header__title {
    position: relative;
 }

 .header__nav,
 .close {
    position: absolute;
 }

 
 /* 2 */

 .header {
    padding: 3px 20px;
}

.header__title {
    height: 44px;
    gap: 10px;
    border-bottom: .5px solid var(--white);
}

.menu {
    width: 30px;
}

.menu__img,
.title__img {
    width: 100%;
}

.title {
    width: 100px;
}

.option {
    margin-bottom: 10px;
    text-align: center;
    line-height: 51px;
    margin: 3% 0;
    letter-spacing: 4.5px;
}

.header__nav,
.components {
    width: 100%;
}

.introduction {
    max-width: 800px;
}

.header__nav,
.navList {
    height: 100%;
}

.header__nav,
.close {
    top: 0;
}

.header__nav {
    left: 0;
}

.close {
    right: 0;
}

.close {
    padding: 5px 15px;
}

.navList {
    gap: 55px;
    padding: 0 50px;
}

.navList__item {
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #221F20;
    font-size:1.4rem;
}

.components {
    padding: 10px;
}

.introduction {
    gap: 40px;
}

.introduction__figure,
.introduction__img {
    width: 100%;
}

.introduction__list  {
    gap: 10px;
    padding: 0 20px
}

.introduction__title {
    margin-bottom: 30px;
}

.introduction__text,
.introduction__figure,
.introduction__list {
    margin-bottom: 15px;
}
 /* 3 */
.close {
    font-weight: 800;
}

.navList {
    list-style: none;
}

.navList,
.close {
    font-size: 1.6rem;
}

.components {
    font-family: "Ubuntu";
}

.introduction {
    font-size: 1.6rem;
    text-align: justify;
}

.introduction__title {
    text-align: left;
}

.introduction__title {
    font-size: 2rem;
}

 /* 4 */
 .header {
    /* background: url('https://cdn.colombia.com/images/v2/turismo/sitios-turisticos/amazonas/reserva-natural-amazonas-800.jpg'); */
    /* background: var(--background); */
    /* background: url('https://infoamazonia.org/wp-content/uploads/2020/06/bosques_de_colombia_1.jpg?fbclid=IwAR3b2inbOEVz5YN69_RB27ewBOH43IQB92pAvyBNFmY5ef-8lMqVpvLoWPE'); */
    /* background-clip: border-box; */
    /* background-origin: border-box; */
    /* background: url("https://external.xx.fbcdn.net/emg1/v/t13/9730441728145458842?url=https%3A%2F%2Fmedioambiente.uexternado.edu.co%2Fwp-content%2Fuploads%2Fsites%2F19%2F2018%2F04%2Ffondo-de-amazona.jpg&fb_obo=1&utld=edu.co&stp=c0.5000x0.5000f_dst-emg0_p150x78_q75&_nc_eui2=AeGWEVJK9TMLJcsi0VjElU5xtjLni1vdaCK2MueLW91oIkoiPPl-vf1vbEr39zXbzQnPj6auYFkzkOPdsX7Pr7Qw&ccb=13-1&oh=06_AbFM1UyZDKoynCRt1ivFBaRfoAsn8ol61AuvuP-wLk1IMA&oe=6364751A&_nc_sid=8490f6"); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */

 }

 

/* .header__title,
.header__nav {
    background: transparent !important;
} */

.option {
    /* background: url(http://srvboston.com/images/bk-header.png) top center no-repeat; */
}

.header__nav {
    background: var(--white);
}

 .close {
    color: var(--dark-brown);
 }

 .navList {
    color: var(--black);
 }

.navList {
}

.introduction {
    background: var(--background1);
    padding: 5px;
}

.introduction__title,
.introduction__list,
.introduction__text,
.introduction__description {
    color: var(--white);
}

.introduction__list {
    list-style:disc;
}

 /* 5 */
 .menu,
 .close,
 .navList {
    cursor: pointer;
}

.menu:active {
    transform: scale(.98);
}

.close,
.navList {
    user-select: none;
}

.hidden {
    display: none;
}

.selected {
    opacity: .38;
}

.close:hover {
    color: var(--white);
    background: var(--dark-brown);
}